.testimonial{
    display: flex;
    width: auto;
    padding: 96px 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: var(--White, #FFF);
}
.testimonial-container{
    display: flex;
    width: auto;
    padding: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.testimonial-container-row{
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.testimonial-container-row-column{
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}
.testimonial-container-row-column-content{
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.testimonial-container-row-column-content-text{
    color: var(--Neutral-100, #24282F);
    text-align: center;
    
    /* H300/32/Medium */
    font-family: Manrope;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 125% */
    align-self: stretch;
}
.testimonial-container-row-column-avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.testimonial-container-row-column-avatar-avatarname{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.testimonial-container-row-column-avatar-avatarname-baseavatar{
    display: flex;
    width: 64px;
    height: 64px;
    justify-content: center;
    align-items: center;
}

.testimonial-container-row-column-avatar-avatarname-content{
    display: flex;
    width: 134px;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.testimonial-container-row-column-avatar-avatarname-content-text1{
    color: var(--Neutral-50, #121417);
    text-align: center;
    
    /* H50/16/Medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    align-self: stretch;
}
.testimonial-container-row-column-avatar-avatarname-content-text2{
    color: var(--Neutral-400, #5A6475);
    text-align: center;
    
    /* H25/14/Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    align-self: stretch;
}
.testimonial-container-row-column-avatar-rating{
    display: flex;
    padding: 4px 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}
.testimonial-container-row-column-avatar-rating-frames{
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

@media screen and (min-width: 1035px) {
    .testimonial-container-row-column-content{
        display: flex;
        width: 794px;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }
    .testimonial{
        padding: 96px 32px;
    }
  }

  @media screen and (max-width: 608px) {
    .testimonial{
        display: flex;
        padding: 64px 16px;
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: var(--White, #FFF);
        padding: 64px 16px;
    }
    .testimonial-container-row-column-content-text{
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        
    }
      }
